body{
    transition: 0s;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.enable-select {
    user-select: text; /* supported by Chrome and Opera */
   -webkit-user-select: text; /* Safari */
   -khtml-user-select: text; /* Konqueror HTML */
   -moz-user-select: text; /* Firefox */
   -ms-user-select: text; /* Internet Explorer/Edge */
}

.pointer{
    cursor: pointer;
}

.body-footer {
    /* background-color: #28182f; */
    position: fixed;
    bottom: 0;
    height: 5vh;
    width: 100vw;
    /* box-shadow: 10px 0px 10px black; */
}

.body-navbar {
    /* background-color: #ffffff; */
    height: 5vh;
    position: fixed;
    top: 0;
    width: 100vw;
    box-shadow: 0px 3px 10px black;
    color: white;
}


.svg-animate{
    animation: svg-animate-second 400ms ease;
}
.svg-animate:hover{
    animation: svg-animate-first 600ms;
}



@keyframes svg-animate-first{
    0%{
        transform: translate3d(0px, 0px, 0px);
    }
    25%{
        transform: translate3d(0px, 0.5px, 0px);
    }
    75%{
        transform: translate3d(0px, -0.2px, 0px);
    }
    100%{
        transform: translate3d(0px, 0px, 0px);
    }
}
@keyframes svg-animate-second{
    0%{
        transform: translate3d(0px, 0px, 0px);
    }
    25%{
        transform: translate3d(0px, 0.3px, 0px);
    }
    75%{
        transform: translate3d(0px, -0.5px, 0px);
    }
    100%{
        transform: translate3d(0px, 0px, 0px);
    }
}
