.note-open-display-button{
   position: fixed;
   font-size: 1.5rem;
   background-color: rgba(0, 0, 0, 0.287);
   color: #ffffff7e;
   padding: 5px 20px;
   right: 0px;
   bottom:0px;
   transition: 500ms;
}
.note-open-display-button:hover{
   background-color: rgba(0, 0, 0, 0.596);
   color: #ffffff;
}
#side-note-open-bar{
   width: 9rem;
   position: fixed;
   height: 50px;
   right: 0px;
   bottom: 0px;
   background-color: rgba(0, 0, 0, 0.267);
   transition: 1s;
   text-align: center;
   font-size: 30px;
   color: #00000049;
}
#note_display{
   position: fixed;
   right: 0px;
   bottom:-50vh;
   
   box-shadow: 0px 0px 0px #000000; 
   max-height: 50vh;
   overflow-y: auto;
   overflow-x: hidden;
   transition: 1s;
   transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.note-display-title{
   font-size: 3rem;
   background-color: #06003a;
   color: rgb(251, 251, 251);
}
.note-display-body{
   background-color: #ffffff;
   padding: 5px;
   width: 20vw;
}

.note-display-note-body{
   width: 100%;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 0px 5px #000000;
   margin: 0px 10px 0px 0px ;
}
.note-display-note-title{
   font-size: 2rem;
   /* box-shadow: 0px 0px 10px #000000;    */
   width: 100%;

}
.note-display-note-text{
   /* box-shadow: 0px 0px 10px #000000; */
   width: 100%;
}
.note-display-note-text-p{
   line-break:normal;
}